*.app
# Arquivos de aplicativos gerados por ferramentas de desenvolvimento rápido.

*.json
# Arquivos JSON (geralmente usados para configurações ou dados temporários).

.env
# Arquivo de variáveis de ambiente (contém credenciais ou configurações sensíveis).

venv
# Diretório do ambiente virtual Python (não deve ser versionado).

__pycache__
# Diretório com arquivos compilados do Python (gerado automaticamente).

dag_auto.py
# Arquivo específico de uma DAG (exemplo de exclusão de arquivos sensíveis ou temporários).

Makefile
# Arquivo usado para automação de tarefas, excluído por não ser necessário no repositório.

data/*
# Diretório para dados (geralmente contém dados temporários ou sensíveis, que não devem ser versionados).

_airflow/logs/*